.sidebar{
    position: absolute;
width: 182px;
height: 1250px;
left: 0px;
top: 0px;

/* Joba/primary-colour/900 */

background: #000609;
}
.pagecont{
    position: absolute;
  left: 100px;
}
.fonty{
    position: absolute;
width: 41px;
height: 18px;
left: 57px;
top: 11px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 18px;
/* identical to box height */


/* Joba/secondary-colour/25 */

color: #FFF1CD;

}
.homebut{
    position: absolute;
width: 151px;
height: 42px;
left: 6px;
top: 218px;

/* Joba/primary-colour/500 */

background: #021926;
border-radius: 8px;
}
.homebut1{
    position: absolute;
width: 151px;
height: 42px;
left: 6px;
top: 270px;

/* Joba/primary-colour/500 */

background:black;
border-radius: 8px;
}
.homebut2{
    position: absolute;
width: 151px;
height: 42px;
left: 6px;
top: 334px;

/* Joba/primary-colour/500 */

background:black;
border-radius: 8px;
}
.homebut3{
    position: absolute;
width: 151px;
height: 42px;
left: 6px;
top: 386px;

/* Joba/primary-colour/500 */

background:black;
border-radius: 8px;
}
.logoholder{
    position: absolute;
width: 145px;
height: 64px;
left: 14px;
top: 10px;

}
.home{
    position: absolute;
width: 58px;
height: 31px;
left: 230px;
top: 138px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 155%;
/* identical to box height, or 31px */

letter-spacing: -0.01em;

color: #000000;

}
.walletbalance{
    box-sizing: border-box;

position: absolute;
width: 162px;
height: 32px;
left: 1165px;
top: 135px;

background: #FFFFFF;
border: 1px solid #DBDBDB;
}
.projectint{
    position: absolute;
width: 327px;
height: 31px;
left: 237px;
top: 627px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 155%;
/* identical to box height, or 31px */

letter-spacing: -0.01em;

/* Joba/Grey/500 - Body text colour */

color: #424242;
}
.sph{
position: absolute;
width: 314px;
height: 177px;
right: 731px;

background: #ffffff;
top: 27px;

}
.sph{
    position: absolute;
    width: 314px;
    height: 177px;
    right: 731px;
    
    background: #ffffff;
    top: 27px;
    
    }
.sph2{
        position: absolute;
        width: 314px;
        height: 177px;
        right: 397px;
        
        background: #ffffff;
        top: 27px;
        
        }
.sph3{
        position: absolute;
        width: 314px;
        height: 177px;
        right: 63px;
        
        background: #ffffff;
        top: 27px;
}
.sph4{
    position: absolute;
    width: 314px;
    height: 177px;
    right: 397px;
    
    background: #ffffff;
    top: 231px;
    
    }
    .sph5{
        position: absolute;
        width: 314px;
        height: 177px;
        right: 731px;
        
        background: #ffffff;
        top: 231px;
        
        }
        .suc{
            position: absolute;
width: 84px;
height: 19px;
left: 36px;
top: 21px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 19px;

color: #0D062D;
        }
        .sph1{
            position: absolute;
            width: 314px;
            height: 177px;
            right: 63px;
            
            background: #ffffff;
            top: 231px;
            
            }
.projectshold{
    position: absolute;
width: 1095px;
height: 443px;
left: 232px;
top: 684px;

background: #F5F5F5;
border-radius: 8px 8px 0px 0px;
}
.near{
width: 20px;
height: 20px;
}
.walletree{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 48px;
gap: 10px;
border-color: #000000;
position: absolute;
width: 290px;
height: 52px;
left: 948px;
top: 19px;

/* Joba/primary-colour/600 */

background: #01141E;
border-radius: 8px;
}
.walletree:hover{
    background: linear-gradient(92.76deg, #4C5ACD 50.52%, #F598AA 150.68%, #FDDFD0 168.67%);
    transition-delay: 100ms;
}
.successful{
    position: absolute;
width: 354px;
height: 350px;
border-radius: 4%;
left: 232px;
top: 224px;
background-color: #f7f7f7;
}
.vertical{
    position: absolute;
width: 1258px;
height: 90px;
left: 182px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 4px 65px rgba(0, 0, 0, 0.05);
}
.line{
    position: absolute;
width: 314px;
height: 0px;
left: 20px;
top: 63px;

/* Joba/Success-colour/1 */

background: #219150;
/* Joba/Success-colour/1 */

border: 3px solid #219150;
}
.line1{
    position: absolute;
    width: 314px;
    height: 0px;
    left: 20px;
    top: 63px;
    
    border: 3px solid #FFA500;
}
.refund{
    position: absolute;
width: 355px;
height: 350px;
border-radius: 4%;
left: 602px;
top: 224px;
background-color: #f7f7f7;
}
.disputed
{
    position: absolute;
    width: 354px;
    height: 350px;
    left: 973px;
    border-radius: 4%;
    top: 224px;
    background-color: #f7f7f7;
}
.line2{
    position: absolute;
width: 314px;
height: 0px;
left: 20px;
top: 63px;

background: #800080;
border: 3px solid #5030E5;

}