.h1{
  
position: absolute;
width: 800px;
height: 65px;
left: 450px;
display: flex;
flex-wrap: nowrap;
flex-direction: column;
top: 217px;

/* Joba/header-4/title */

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
display: inline flex;
flex-wrap: nowrap;
font-size: 45px;
line-height: 130%;
/* or 45px */


/* Joba/Grey/600 */

color: #353535;
}
.ih1{position: absolute;
    width: 137px;
    height: 38px;
    left: 76px;
    top: 136px;
    
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    /* or 38px */
    
    text-align: center;
    
    /* Joba/primary-colour/400-main */
    
    color: #021E2D;
    }
    .ih2{
        position: absolute;
width: 158px;
height: 24px;
left: 65px;
top: 174px;

/* Joba/button-text/semi-bold */

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */


/* Joba/Grey/300 */

color: #6C6C6C;
    }
    .box2{
        box-sizing: border-box;

position: absolute;
width: 288px;
height: 234px;
left: 828px;
top: 239px;

background: #FFFFFF;
/* Joba/Grey/25 */

border: 1px solid #DCDCDC;
border-radius: 8px;

    }
.h3{
    position: absolute;
width: 227px;
height: 38px;
left: 707px;
top: 159px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 160%;
/* or 38px */

text-align: center;

color: #000000;

}
.box1{
    box-sizing: border-box;

position: absolute;
width: 288px;
height: 234px;
left: 524px;
top: 239px;

background: #FFFFFF;
/* Joba/Grey/25 */

border: 1px solid #DCDCDC;
border-radius: 8px;
}


.h2{
    position: relative;
width: 513px;
height: 48px;
flex-direction: column;
left: 463px;
display: flex;
flex-wrap: nowrap;
top: 276px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* or 150% */

text-align: center;

/* Joba/Grey/500 - Body text colour */

color: #131212;

}
.btn2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 48px;
    gap: 10px;
    
    position: absolute;
    width: 310px;
    height: 65px;
    left: 665px;
    top: 523px;
    text-emphasis-color:white;
    /* Joba/Blue-gradient */
    
    background: linear-gradient(92.76deg, #4C5ACD 50.52%, #F598AA 150.68%, #FDDFD0 168.67%);
    border-radius: 8px;
}
