.h1{
  
position: absolute;
width: 617px;
height: 45px;
left: 412px;
display: flex;
flex-wrap: nowrap;
flex-direction: column;
top: 217px;

/* Joba/header-4/title */

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
display: inline flex;
flex-wrap: nowrap;
font-size: 35px;
line-height: 130%;
/* or 45px */


/* Joba/Grey/600 */

color: #353535;
}


.h2{
    position: relative;
width: 513px;
height: 48px;
flex-direction: column;
left: 463px;
display: flex;
flex-wrap: nowrap;
top: 276px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

text-align: center;

/* Joba/Grey/500 - Body text colour */

color: #424242;

}
.btn1{
    /* Button */


/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 14px 32px;
gap: 10px;
flex-direction: column;
position: absolute;
width: 182px;
height: 52px;
left: 1629px;
top: 350px;

/* Joba/Blue-gradient */

background: linear-gradient(92.76deg, #4C5ACD 50.52%, #F598AA 150.68%, #FDDFD0 168.67%);
border-radius: 8p
}